body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #faeda6 !important;
}

form {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fffaca;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px; /* Agregamos un margen inferior para separar los formularios */
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	margin-top: 50px;
}

th, td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #cbfac4;
}

tr:nth-child(even) {
	background-color: #fffab5;
}

h2 {
	text-align: center;
	margin-top: 50px;
}

img {
	height: 20px;
}

input[type="text"] {
	width: 200px;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	color: #333;
	font-size: 14px;
}

input[type="text"]:focus {
	border-color: #7ae2fc;
	outline: none;
}

/* Nuevos estilos para la sección de carga de datos */
h1 {
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 10px;
}

select {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	color: #333;
	font-size: 14px;
}

button[type="submit"] {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: #4caf50;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #45a049;
}
